[http]
	proxy = http://cmproxy2.nda.ac.jp:9090
[https]
	proxy = http://cmproxy2.nda.ac.jp:9090
[user]
	name = 
	email = 
[url "https://"]
	insteadOf = git://
[url "github:"]
  InsteadOf = https://github.com/
  InsteadOf = git@github.com:
